.page2FA {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.page2FA .GAlogo {
  width: 4vw;
  margin-bottom: 2vw;
  transition: transform 0.7s ease-in-out;
}

.page2FA .GAlogo:hover {
  transform: scale(1.2, 1.2) rotate(-90deg);
}

.titleGA {
  color: #cccccc;
  font-family: "Outfit Bold";
  font-size: 2em;
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 1vw;
}

.box {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 35vw;
  min-width: 600px;
  background: #1e2a02dd;
  box-shadow: 0px 0px 8px #000000bf;
  border-radius: 58px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: default;
}

h4 {
  color: #ffffff;
  font-family: "Outfit Light";
  font-size: 20px;
  line-height: 1.4em;
}

.container-turn-on input[type="submit"],
.container-auth input[type="submit"],
#search-form input[type="submit"]
{
  display: block;
  font-family: "Outfit Bold";
  background: #1e2a02;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  line-height: 2.3em;
  border: none;
  font-size: 24px;
  color: #ffffff;
  width: 40%;
  margin-top: 1.5em;
  transition: transform 0.5s ease;
}

.container-turn-on input[type="submit"]:hover,
.container-auth input[type="submit"]:hover,
#search-form input[type="submit"]:hover
{
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.container-turn-on input[type="submit"]:focus,
.container-auth input[type="submit"]:focus,
#search-form input[type="submit"]:focus
{
  transform: scale(1.05, 1.05);
}

.container-turn-on input[type="text"],
.container-auth input[type="text"],
#search-form input[type="text"]
{
  display: block;
  font-family: "Outfit";
  text-align: center;
  background: rgba(30, 42, 2, 0.7);
  box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  border: none;
  font-size: 1em;
  line-height: 3.3em;
  width: 70%;
  color: #ffffff;
  transition: transform 0.5s ease;
}

.container-turn-on input[type="text"]:hover,
.container-turn-on input[type="text"]:focus,
.container-auth input[type="text"]:hover,
.container-auth input[type="text"]:focus,
#search-form input[type="text"]:hover,
#search-form input[type="text"]:focus
{
  transform: scale(1.05, 1.05);
}

.container-turn-on input[type="text"]:focus,
.container-auth input[type="text"]:focus,
#search-form input[type="text"]:focus
{
  outline: none;
}

.container-turn-on ::placeholder,
.container-auth ::placeholder,
#search-form ::placeholder
{
  color: rgba(255, 255, 255, 0.3);
}

#form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  display: space-between;
  align-items: center;
}

.container-turn-on {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-re-generate button {
  border-radius: 18px;
  border: none;
  font-family: "Outfit";
  text-align: center;
  font-size: 1em;
  padding: 10px;
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.25);
  background-color: #feca00;
  transition: transform 0.5s ease;
  opacity: 68%;
}

.container-re-generate button:hover,
.container-re-generate button:focus {
  transform: scale(1.05, 1.05);
}
