/* Global config */

.chat {
    color: white;
    height: 100vh;
    width: 100vw;
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Outfit";
}

.chat > .container-chat {
    flex: auto;
}

.chat > .container-channels {
    width: 23%;
    min-width: 220px;
}

.container-channels, .container-chat {
    color: white;
    background-color: #1E2B02;
    margin: 20px;
    margin-top: 40px;
    height: 86%;
    border-radius: 2em;
}

.container-channels {
    margin-left: 10%;
}

/* Channels config */

.nav-channels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-channels button {
    color: white;
    background-color: #1E2B02;
    border: none;
    font-family: "Outfit Bold";
    font-size: 1.1em;
}

.nav-channels .selected {
    background-color: #CABF50;
}

#players-col, #channels-col {
    flex: 1;
    margin: 0;
    padding: 1em;
    cursor: pointer;
}

#players-col {
    border-top-left-radius: 1.7em;
}

#channels-col {
    border-top-right-radius: 1.7em;
}

/* Chat options */

.chat-options {
    padding: 1em;
}

.icon-button {
    margin: 0;
    height: 24px;
    width: 24px;
    display: inline-block;
}
  
.icon-button:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

/* Players, friends list */

.list-friends li {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;
}

.notSelected {
    background-color: #005F3E;
}

.selected {
    background-color: #CABF50;
}

.list-friends li .friend-frame {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list-friends li h3, .list-friends li h4 {
    margin: 0;
}

.list-friends .avatar-frame {
    flex: 1;
}

.avatar-frame img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    object-fit: cover;
}

.friend-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend-frame div {
    width: 10px;
    height: 10px;
    margin: 0;
    border-radius: 100%;
    margin-right: 10px;
}

.grey-point {
    background-color: #939694;
}

.green-point {
    background-color: #12D654;
}

.red-point {
  background-color: red;
}

/* Messages config */

.container-chat {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.container-chat img {
    height: 42px;
    margin-top: 5px;
}

.container-chat > .container-messages {
    flex: auto;
}

.welcome-chat {
    margin-top: 20px;
}

.div-message-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.message-input {
    padding-bottom: 0.4em;
}

.message-text {
    font-family: "Outfit";
    width: 70%;
    font-size: 1em;
    border-radius: 22px;
    border: none;
    padding: 0.7em;
    transition: transform 0.5s ease;
}

.userNotMuted .message-text:focus,
.userNotMuted .message-text:hover {
    transform: scale(1.01, 1.01);
}

.message-text:focus {
    outline: none;
}

.message-input button {
    border: none;
    margin-left: 10px;
    background-color: #1E2B02;
}

.message-input .userMuted button {
    opacity: 60%;
}

.message-input .userNotMuted button {
    transition: transform 0.5s ease;
}

.message-input .userNotMuted button:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.manage-channel div {
    flex: 2;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    cursor: pointer;
}

.manage-channel #see-members {
    transition: transform 0.5s ease;
}

.messages-invite-game,
.manage-channel {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.messages-invite-game div {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.manage-channel #leave-img {
    cursor: pointer;
    transition: transform 0.5s ease;
    margin-right: 10px;
}

.messages-invite-game img,
.manage-channel #settings-img {
    margin-top: 8px;
    margin-right: 30px;
    margin-bottom: 8px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.manage-channel #leave-img:hover,
.manage-channel #see-members:hover,
.messages-invite-game img:hover,
.manage-channel #settings-img:hover {
    transform: scale(1.1, 1.1);
}

.container-messages {
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #1e2b02;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #939694;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.messages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    text-align: left;
}

#from-user {
    flex-direction: row-reverse;
}

.messages img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

#from-others img {
    margin-left: 6%;
    margin-right: 10px;
}

#from-user img {
    margin-left: 10px;
    margin-right: 5%;
}

.messages p {
    color: white;
    background-color: #141817;
    padding: 1em;
    border-radius: 18px;
    margin: 0;
    font-size: 1.1em;
    max-width: 20vw;
    word-wrap: break-word;
}

/* Channels options, list */

.options-channel {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.options-channel img {
    height: 20px;
    width: 20px;
    transition: transform 0.5s ease;
    margin-right: 10px;
}

.options-channel img:hover {
    transform: scale(1.25, 1.25);
    cursor: pointer;
}

.search-in-my-channels #div-search-my-channels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.search-in-my-channels #div-search-all-channels {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    transition: transform 0.5s ease;
    margin-right: 25px;
    margin-top: 10px;
}

.search-in-my-channels #div-search-my-channels:hover,
.search-in-my-channels #div-search-all-channels:hover {
    transform: scale(1.03, 1.03);
}

.search-in-my-channels .input-search-channels {
    border-radius: 15px;
    border: none;
    background-color: #141817;
    color: white;
    padding: 0.4em;
}

.search-in-my-channels .input-search-channels:focus {
    outline: none;
    border: 1px solid #CABF50;
}

.search-in-my-channels #input-search-my-channels {
    width: 60%;
}

.search-in-my-channels #input-search-all-channels {
    width: 30%;
}

.search-in-my-channels button {
    border: none;
    background-color: #1E2B02;
    padding: 0;
}

.search-in-my-channels button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.search-in-my-channels button img:hover {
    transform: scale(1.1, 1.1);
}

.list-my-channels li {
    padding: 0.6em;
    cursor: pointer;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-my-channels li img {
    max-width: 50px;
    border-radius: 100%;
    flex: 1;
}

.list-my-channels li h3 {
    flex: 2;
}

#list-all-channels {
    padding: 1.3em;
    cursor: pointer;
    margin-bottom: 5px;
}

#list-all-channels h3,
.list-my-channels h3 {
    margin: 0;
}

.channelSelected {
    background-color: #CABF50;
}

.channelNotSelected {
    background-color: #005F3E;
}

.all-channels {
    margin-top: 14px;
}

.channel-attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 1.3em;
    cursor: pointer;
    border-bottom: 1px solid #9396943f;
}

.channel-attributes:first-child {
    border-top: 1px solid #9396943f;
}

.channel-attributes > h3 {
    flex: auto;
}

.channel-attributes h3 {
    margin: 0;
    flex: 2;
    font-weight: normal;
}

.channel-attributes > .buttons-channel {
    width: 100px;
}

.channel-attributes button {
    cursor: pointer;
    transition: transform 0.5s ease;
}

.channel-attributes button:hover {
    transform: scale(1.1, 1.1);
}

.buttons-channel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 7%;
}

.join-channel {
    background-color: #005F3E;
    color: white;
    border: none;
    border-radius: 17px;
    padding: 0.5em 1.2em 0.5em 1.2em;
}

.join-channel h3 {
    font-weight: bold;
}

.icon-image {
    width: 25px;
    height: 25px;
    border: none;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-color: #1e2b02;
}

.message-channel {
    background-image: url("@/assets/icons/messageText.svg");
}

.settings-channel {
    background-image: url("@/assets/icons/settings.svg");
}