/* Global config */

.chat {
    color: white;
    background: var(--main-gradient-background);
    height: 100vh;
    width: 100vw;
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Outfit";
}

.chat > .container-chat {
    flex: auto;
}

.chat > .container-channels {
    width: 23%;
    min-width: 220px;
}

.container-channels, .container-chat {
    color: white;
    background-color: #1E2B02;
    margin: 20px;
    margin-top: 40px;
    height: 86%;
    border-radius: 2em;
}

.container-channels {
    margin-left: 10%;
}

/* Channels config */

.nav-channels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-channels button {
    color: white;
    background-color: #1E2B02;
    border: none;
    font-family: "Outfit Bold";
    font-size: 1.1em;
}

.nav-channels .selected {
    background-color: #CABF50;
}

#players-col, #channels-col {
    flex: 1;
    margin: 0;
    padding: 1em;
    cursor: pointer;
}

#players-col {
    border-top-left-radius: 1.7em;
}

#channels-col {
    border-top-right-radius: 1.7em;
}

/* Chat options */

.chat-options {
    padding: 1em;
}

.icon-button {
    margin: 0;
    height: 24px;
    width: 24px;
    display: inline-block;
}
  
.icon-button:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

/* Players, friends list */

.list-friends li {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;
}

.notSelected {
    background-color: #005F3E;
}

.selected {
    background-color: #CABF50;
}

.list-friends li .friend-frame {
    flex: 2;
}

.list-friends li h3, .list-friends li h4 {
    margin: 0;
}

.list-friends .avatar-frame {
    flex: 1;
}

.avatar-frame img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

.friend-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend-frame div {
    width: 10px;
    height: 10px;
    margin: 0;
    border-radius: 100%;
    margin-right: 10px;
}

.red-point {
    background-color: #D4391D;
}

.green-point {
    background-color: #12D654;
}

/* Messages config */

.container-chat {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.container-chat img {
    height: 42px;
    margin-top: 5px;
}

.container-chat > .container-messages {
    flex: auto;
}

.container-chat > .message-input {
    height: 50px;
}

.welcome-chat {
    margin-top: 20px;
}

.message-input {
    padding-bottom: 1em;
}

.message-text {
    font-family: "Outfit";
    width: 80%;
    font-size: 1em;
    border-radius: 22px;
    border: none;
    padding: 0.7em;
    transition: transform 0.5s ease;
}

.message-text:focus,
.message-text:hover {
    transform: scale(1.01, 1.01);
}

.message-text:focus {
    outline: none;
}

.message-input button {
    border: none;
    margin-left: 10px;
    transition: transform 0.5s ease;
    background-color: #1E2B02;
}

.message-input button img {
    width: 30px;
}

.message-input button:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.container-messages {
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: auto;
}

.messages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
}

#from-user {
    flex-direction: row-reverse;
}

.messages img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#from-others img {
    margin-left: 6%;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#from-others img:hover {
    transform: scale(1.05, 1.05);
}

#from-user img {
    margin-left: 10px;
    margin-right: 8%;
}

.messages p {
    color: white;
    background-color: #141817;
    padding: 1em;
    border-radius: 18px;
    margin: 0;
    font-size: 1.1em;
}

/* Channels options, list */

.options-channel {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.options-channel img {
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: transform 0.5s ease;
    margin-right: 10px;
}

.options-channel img:hover {
    transform: scale(1.1, 1.1);
}

.search-in-my-channels #div-search-my-channels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.search-in-my-channels #div-search-all-channels {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    transition: transform 0.5s ease;
    margin-right: 25px;
    margin-top: 10px;
}

.search-in-my-channels #div-search-my-channels:hover,
.search-in-my-channels #div-search-all-channels:hover {
    transform: scale(1.03, 1.03);
}

.search-in-my-channels .input-search-channels {
    border-radius: 15px;
    border: none;
    background-color: #141817;
    color: white;
    padding: 0.4em;
}

.search-in-my-channels .input-search-channels:focus {
    outline: none;
    border: 1px solid #CABF50;
}

.search-in-my-channels #input-search-my-channels {
    width: 60%;
}

.search-in-my-channels #input-search-all-channels {
    width: 30%;
}

.search-in-my-channels button {
    border: none;
    background-color: #1E2B02;
    padding: 0;
}

.search-in-my-channels button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.search-in-my-channels button img:hover {
    transform: scale(1.1, 1.1);
}

.list-channels li {
    margin: 0;
    border-top: 1px solid white;
}