.title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 70vw;
  cursor: default;
  height: fit-content;
}

.matchSmall {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.matchSmallResults {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.nameSmall {
  width: 50%;
}

.title img {
  height: 42px;
  margin-right: 20px;
}

.title h1 {
  color: var(--main-color);
  font-family: "Outfit SemiBold";
  font-size: 42px;
  margin: 0;
}

.page {
  background: var(--main-gradient-background);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  flex-direction: column;
  font-family: "Outfit";
  overflow: hidden;
  margin: 0;
}

.content {
  width: 70vw;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  cursor: default;
  font-size: 18px;
}

.loading,
.nofriends {
  display: block;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 7vh;
  font-size: 22px;
}

.v-center {
  height: 20vh;
  display: flex;
  justify-content: space-around;
}

.tableContainer {
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: scroll;
  width: 100%;
  height: 30vh;
  margin: 0;
  z-index: 20;
  scrollbar-color: dark;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #1e2b02cc;
  border-radius: 0px 22px 22px 22px;
}

.tableContainer::-webkit-scrollbar {
  display: none;
}


.tableSmallContainer {
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: scroll;
  width: 100%;
  height: 15vh;
  margin: 0;
  z-index: 20;
  scrollbar-color: dark;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #1e2b02cc;
  border-radius: 0px 22px 22px 22px;
}

.tableSmallContainer::-webkit-scrollbar {
  display: none;
}


.titleContainer {
  z-index: 1;
  display: flex;
  background-image: url("@/assets/icons/titleFrame.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 15%;
  max-width: 200px;
  min-width: 150px;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  transition: font-size 0.5s ease;
}

.titleTab {
  padding-right: 10px;
  z-index: 2;
  position: absolute;
  font-family: "Outfit Bold";
  font-style: normal;
  font-weight: 700;
  color: var(--main-color);
}

.titleContainer:hover {
  font-size: 23px;
}

.mainTable {
  width: 100%;
  text-align: left;
  margin: 0;
}

.topBar {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 44px;
}

.titleFrame {
  margin-right: 30%;
}

.topBar img {
  width: 13%;
}

.frame {
  width: 100%;
  margin: 0;
}

.titleName {
  display: flex;
  flex-direction: row;
}

.reload {
  filter: brightness(0) saturate(100%) invert(22%) sepia(74%) saturate(1495%)
    hue-rotate(134deg) brightness(92%) contrast(101%);
  margin-right: 20px;
  background-color: #00000000;
  opacity: 50%;
  background-image: url("@/assets/icons/refresh.svg");
  background-repeat: no-repeat;
  background-size: 42px 42px;
  width: 42px;
  height: 42px;
  border: none;
  fill: none;
  transition: transform 1.5s ease, opacity 1.5s ease;
}

.reload:hover {
  transform: scale(1.2, 1.2) rotate(360deg);
  opacity: 90%;
  cursor: pointer;
}

.orderSelection {
  display: flex;
  width: 30vw;
  margin-right: 2vw;
  font-size: 18px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.tabContainer,
.selectedTabContainer {
  z-index: 1;
  display: flex;
  width: 100%;
  max-width: 150px;
  height: 75%;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.5;
  transition: all 0.5s ease;
  background-color: #1e2b02;
  border-radius: 22px 22px 0px 0px;
}

.selectedTabContainer {
  opacity: 0.8;
  font-size: 18px;
  height: 85%;
}

.selectedTabContainer:hover {
  cursor: pointer;
}

.tabContainer:hover {
  opacity: 0.65;
  font-size: 16px;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-top: 30px;
  margin-bottom: 30px;
}

.smallModeIcon {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.list-enter-active {
  transition: all 0.6s ease-out;
}

.list-leave-active {
  transition: all 0.6s ease-out;
}

.list-enter-from {
  opacity: 0;
}

.list-leave-to {
  opacity: 0;
}

.matchResults {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 70%;
}

.matchDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 15px;
  color: #bebebe;
  width: 10vw;
  gap: 20px;
}

.opponentRight {
  justify-content: start;
  text-align: left;
}

.opponentLeft {
  justify-content: end;
  text-align: right;
}

.opponentLeft,
.opponentRight {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2vw;
  width: 18vw;
}

.name {
  width: 70%;
}

.score {
  width: 50px;
  text-align: center;
  font-size: 15px;
  color: #bebebe;
}

.winner .name {
  font-weight: 600;
  color: var(--main-color);
}

.looser img {
  opacity: 50%;
}

.match {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 60vw;
}

.playerResults {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
}

.playerInfo {
  margin-left: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.playerInfo .positionLb { 
 width: 30px;
 margin-left: 10px;
}

.playerInfo .namePlayer {
  margin-left: 20px;
  text-align: left;
  width: 11vw;
}

.playerInfo .username {
  width: 10vw;
  text-align: left;
  opacity: 0.7;
  font-size: 16px;
}

.results {
  margin-right: 2vw;
  display: flex;
  font-size: 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 30vw;
  min-width: 30vw;
}

.points,
.winRate,
.gamesNb {
  width: 100%;
  max-width: 150px;
}

.profile {
  display: block;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  border-radius: 100%;
  object-fit: cover;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.profile:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.profileSmall {
  display: block;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  border-radius: 100%;
  object-fit: cover;
  opacity: 1;
  transition: all 0.3s ease-out;
}

li {
  list-style: none;
}

@media screen and (max-width: 1050px) {
  .matchDate {
    display: none;
  }

  .matchResults {
    width: 100%;
    gap: 20px;
  }

  .username {
    display: none;
  }

  .playerInfo {
    width: 100%;
  }

  .selectedTabContainer {
    font-size: 14px;
  }

  .tabContainer {
    font-size: 12px;
  }

  .opponentLeft,
  .opponentRight {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .score {
    display: none;
  }
}